<nav>
    <ul>
        <li><a href="{{ path('app_accueil') }}">Accueil</a></li>
        <li><a href="#">Artistes</a></li>
        <li><a href="#">Genres</a></li>
        <li><a href="#">Nouveautés</a></li>
        <li><a href="#">Classement</a></li>
    </ul>
</nav>